<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <!-- Add your custom CSS styles here -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
        h1 {
            color: #333;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data_show">Data Show</a>
              </li>
            
              
             
            </ul>
           
          </div>
        </div>
      </nav>



    <h1>About Us</h1>
    <p>This is the About page of our Flask application.</p>
    <p>We have created this project using dataset from kaggle. We have utilized Bootstrap and its elements for styling the frontend of our application.</p>
        <p>Links for the helping website are : <br>
            
            Bootstrap : https://getbootstrap.com/
        </p>
        <a href="https://www.kaggle.com/datasets/akankshaaa013/top-grossing-movies-dataset?resource=download">Dataset link</a>
        <a href="https://getbootstrap.com/">Bootstrap</a>
        <h2 style="margin-top: 20px;">Variables</h2>
    <p><b>Id:</b> Serial Number for table rows</p>
    <p><b>Release:</b> The title of the movie.</p>
    <p><b>Theaters:</b> The total number of theaters where the movie was screened during its release.</p>
    <p><b>Average:</b> The average earnings per theater for the movie during its opening weekend.</p>
    <p><b>Date:</b> The date when the movie was officially released in theaters.</p>
    <p><b>Distributor:</b> The company responsible for distributing the movie to theaters.</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>
